@{
  ViewData["Title"] = ViewBag.Description;
}

<div style="text-align:center;">
  <a href="~/Image/billboard.svg" target="_blank"><img src="~/Image/billboard.svg" style="height:450px;" /></a>
  <div align="center">
    <p><a href="https://gitee.com/Run2948/Admin.NET/stargazers"><img
          src="https://gitee.com/Run2948/Admin.NET/badge/star.svg?theme=gvp" alt="star"></a> <a
        href="https://gitee.com/Run2948/Admin.NET/members"><img
          src="https://gitee.com/Run2948/Admin.NET/badge/fork.svg?theme=gvp" alt="fork"></a> <a
        href="https://github.com/Run2948/Admin.NET/stargazers"><img
          src="https://img.shields.io/github/stars/Run2948/Admin.NET?logo=github" alt="GitHub stars"></a> <a
        href="https://github.com/Run2948/Admin.NET/network"><img
          src="https://img.shields.io/github/forks/Run2948/Admin.NET?logo=github" alt="GitHub forks"></a> <a
        href="https://github.com/Run2948/Admin.NET/blob/develop/LICENSE"><img
          src="https://img.shields.io/github/license/Run2948/Admin.NET" alt="GitHub license"></a> <a
        href="https://www.nuget.org/packages/Furion.Extras.AspNetCore"><img
          src="https://img.shields.io/nuget/v/Furion.Extras.AspNetCore.svg?cacheSeconds=10800" alt="nuget"></a></p>
  </div>
  <p>@ViewBag.Description</p>
  <p><a href="/swagger">API 接口</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="https://gitee.com/Run2948/Admin.NET"
      target="_blank">源码地址</a></p>
</div>